
<div>
    <section id="container">
  <aside >
    
    <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;  
    outline: none; margin-left: 0px;
    z-index: 1;
    /* overflow-x: hidden; */
    
    " > 
      
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a><img src="assets/img/admin.png" class="img-circle" width="80" routerLink ="/profil"></a>
          <a><img src="" class="img-circle" width="80" routerLink ="/profil" ></a></p>
        <h5 class="centered"><h3>{{Admin.prenom}} {{Admin.nom}} </h3></h5>
  
         <li class="mt">
          <a routerLink ="/acceuil" >
            <i class="fa fa-globe"></i>
            <span>Retourner au Site</span>
            </a>
        </li> 
        <li class="active">
            <a  href="dashboard-admin">
                <i class="fa fa-wrench"></i>
                <span class="title">Tableau de Bord</span>
            </a>
        </li>
  
  
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-list"></i>
            <span routerLink ="/list-adherent">Liste des Adhérents
            </span>
            <span class="title"></span></a>
    
        </li>
        
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <span routerLink ="/all-competence"> All Competences
            </span>
            <span class="title"></span></a>
    
        </li>
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
          <a href="javascript:;">
            <i class="fa fa-calendar"></i>
            <span routerLink ="/plan-formation"> Plan de Formations
            </span>
            <span class="dcjq-icon"></span></a>
    
        </li>
        <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
            <a href="javascript:;">
              <i class="fa fa-envelope"></i>
              <span routerLink ="/list-candidat">Recrutements
              </span>
              <span class="dcjq-icon"></span></a>
      
          </li>  
          <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
            <a href="javascript:;">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span routerLink ="/liste-entreprise">Liste Des Entreprises
              </span>
              <span class="dcjq-icon"></span></a>
      
          </li>
          <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
            <a href="javascript:;">
              <i class="fa fa-thumb-tack" aria-hidden="true"></i>
              <span routerLink ="/todo-list">To do List
              </span>
              <span ></span></a>
      
          </li>  
         
          <li>
            <a href="boite-suggestion">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <span> Boite des Suggestions</span>
            </a>
        </li>
          <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
            <a href="javascript:;">
              <i class="fa fa-user"></i>
              <span routerLink ="/profil-admin">Gérer le Profil
              </span>
              <span class="title"></span></a>
      
          </li> 
        
          <li class="sub-menu dcjq-parent-li">
            <a  (click)="open(content)" >
                <i class="fa fa-arrow-left"></i>

                <span class="title">Déconnexion</span></a>
      
          </li> 

        <mat-accordion class="sidebar" routerLinkActive = "active"  >
              </mat-accordion>
        <mat-accordion class="sidebar" routerLinkActive = "active"  >
         
        </mat-accordion>
  
        <mat-accordion class="sidebar" routerLinkActive = "active"  >
          
        </mat-accordion>
  
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  
  <section id="main-content">
    <section class="wrapper">
  
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </section>
      </section>
  
  </section>
  
  </div>
  
  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <ng-template #content let-modal >
    <div class="modal-header"  style="background-color: #25857e; height: 40px;" >
     
      <h4 class="modal-title" id="modal-basic-title" style="margin-left: 150px;">Alerte de Confirmation</h4>
      <a  class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
    </div>
    <div class="modal-body">
      <form >
        <div class="mb-6">
          <!-- <label for="title" style="font-size: 14px; font-family: bold; margin-top: 15px;">Nom de Formation  </label> -->
          <div class="input-group">
            <div class="data">
              <h4 style="margin-left:120px;">Voulez Vraiment Se Déconnecter ? </h4>

          </div>
          </div>
        </div>
    
      </form>
    </div>

    
    <div class="">
      <!-- <button type="button" class="btn btn-secondary" style="margin-left: 130px;" (click)="logout();modal.close('Save click')" >
       
       Déconnexion</button> -->
       <button type="button" class="btn btn-secondary"  style="margin-left: 160px; margin-top: 20px;" (click)="modal.close('Save click')" >
       
        Cancel</button>
        <button type="button" class="btn btn-secondary"  style="margin-left: 30px; margin-top: 20px;" (click)="logout();modal.close('Save click')" >
       
          Déconnexion</button>
        </div> 
    
  </ng-template>
  