
<div class="row mt" style="padding-top: 5%" style="margin-top:90px">
    <div class="col-lg-6 col-md-6 col-sm-12" >
      <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Civilité</h4>
        <form [formGroup]="candidatForm" (ngSubmit)="createCandidat()" class="form-horizontal style-form" style="margin-top: 5px;">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Nom :
            </label>
            <div class="col-sm-10">
              <input type="text"  class="form-control"  placeholder="Entrez votre nom"
              formControlName="nomCan" 
              [ngClass]="{'is-invalid':candidatForm.get('nomCan')!.touched && !candidatForm.get('nomCan')!.valid}"
               >

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Prénom :

            </label>
            <div class="col-sm-10">
              <input type="text"  class="form-control"   placeholder="Entrez votre nom"
              formControlName="prenomCan" 
              [ngClass]="{'is-invalid':candidatForm.get('prenomCan')!.touched && !candidatForm.get('prenomCan')!.valid}"
              >
              
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Date de naissance </label>
            <div class="col-sm-10">
              <input type="date"  class="form-control" name="dateOfBirth" placeholder=""
              formControlName="dateOfBirth" 
              [ngClass]="{'is-invalid':candidatForm.get('dateOfBirth')!.touched && !candidatForm.get('dateOfBirth')!.valid}"
          >
         
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Email :</label>
            <div class="col-sm-10">
              <input type="text" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" class="form-control" name="emailCan"  placeholder="Entrez votre Email"
              formControlName="emailCan"
              [ngClass]="{'is-invalid':candidatForm.get('emailCan')!.touched && !candidatForm.get('emailCan')!.valid}">
              
            
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">N° Télèphone</label>
            <div class="col-sm-10">
              <input type="text" pattern="[0-9]{8}" class="form-control" name="phoneCan" placeholder="Entrez votre Numéro"
              formControlName="phoneCan"
                         [ngClass]="{'is-invalid':candidatForm.get('phoneCan')!.touched && !candidatForm.get('phoneCan')!.valid}"
              >
          
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Ville :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="ville" placeholder="Entrez votre Numéro"
              formControlName="ville"
                         [ngClass]="{'is-invalid':candidatForm.get('ville')!.touched && !candidatForm.get('ville')!.valid}"
              >
          
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">CV :</label>
            <div class="col-sm-10">
                
                    <div style="margin-top:3px">
                   <input type="file" id="customFile" class="form-control" style="height:100%"
                   formControlName="pathCv"
                   [ngClass]="{'is-invalid':candidatForm.get('pathCv')!.touched && !candidatForm.get('pathCv')!.valid}">
                    </div>
            
            </div>
          </div> 

         <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Lettre de Motivation</label>
            <div class="col-sm-10">
                <div style="margin-top:3px">
                    <input type="file" class="form-control" id="customFile"  style="height:100%" 
                    formControlName="pathMotivationLetter"
                    [ngClass]="{'is-invalid':candidatForm.get('pathMotivationLetter')!.touched && !candidatForm.get('pathMotivationLetter')!.valid}">
                     </div>
                   
            </div>
          </div>

        </form>
        
      </div>
      
    </div>
    <!-- /col-lg-6 -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <!--  BUTTONS SIZES -->
      <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Niveau d'étude </h4>
        <form  [formGroup]="candidatForm" (ngSubmit)="createCandidat()" class="form-horizontal style-form" style="margin-top: 10px;">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Level</label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" name="niveauEtud"  placeholder="Entrez votre niveau d'étude"
                  formControlName="niveauEtud"
                    [ngClass]="{'is-invalid':candidatForm.get('niveauEtud')!.touched && !candidatForm.get('niveauEtud')!.valid}">
                  
               
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Titre du Diplôme </label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" name="titreDiplome"  placeholder="Entrez votre Titre de diplome "
                  formControlName="titreDiplome"
                    [ngClass]="{'is-invalid':candidatForm.get('titreDiplome')!.touched && !candidatForm.get('titreDiplome')!.valid}">
                  
                
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Université</label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" name="university" placeholder="Entrez votre établissement scolaire"
                  formControlName="university"
                    [ngClass]="{'is-invalid':candidatForm.get('university')!.touched && !candidatForm.get('university')!.valid}">
                

                </div>
            </div>
        </form>
      </div>
      <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Experience</h4>
        <form class="form-horizontal style-form" style="margin-top: 10px;"  [formGroup]="candidatForm" (ngSubmit)="createCandidat()">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Années d'expérience</label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" name="niveauExp"  placeholder="Entrez votre Expérience"
                  formControlName="niveauExp"
                    [ngClass]="{'is-invalid':candidatForm.get('niveauExp')!.touched && !candidatForm.get('niveauExp')!.valid}">
                  
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Vos Expériences</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  placeholder="" rows="4"  
                  formControlName="experience"
                    [ngClass]="{'is-invalid':candidatForm.get('experience')!.touched && !candidatForm.get('experience')!.valid}">
                </div>
            </div>
,
        </form>
        
      </div>
      
     <div>
      <button class="btn btn-secondary"  [disabled]=!candidatForm.valid (click)="createCandidat()" style="margin-left: 210px;">Envoyer</button>
      
  </div> 
        
       
      
    </div>
   
  </div>
