<app-navbar-supp></app-navbar-supp>
<app-sidebar></app-sidebar>

<!-- <div class="col-md-10" style="margin-top: 4px; margin-left: 210px;">
  <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 14px;">Bienvenue,  <strong>{{Adherent.nom}} {{Adherent.prenom}} </strong> dans votre espace interne.</div>

      <div class="panel-body"> -->
        <div class="container" style="width: 550px; height: 500px;" >
          <canvas id="myChart2" width="1.5" height="1" style="margin-top: -9px; margin-left: 100px;"></canvas>
          
          <div style="margin-left: -160px; margin-top: -520px;">
            <h6 class="card-subtitle mb-2 text-muted" >Il est à Noter Que :</h6>
            <h5 class="">25% = Notions </h5>
            <h5  class="card-text">50% = Intermédiare </h5>
            <h5  class="card-text">75% = Avancé </h5>
            <h5  class="card-text">100% = Expert</h5>
           </div>
        </div>
    
      <!-- </div> -->

    
  <!-- </div> -->


    





