
<link href="https://arsii.org/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://arsii.org/adminlte/css/custom.css" rel="stylesheet">

<app-navbar-supp></app-navbar-supp>
<app-sidebar></app-sidebar>

<div class="row" style="width: 1150px;">
  <div class="col-md-10" style="margin-top: 7px; margin-left: 214px; width: 1200px;" >
      <div class="panel panel-default">
          <div class="panel-heading">Bienvenue,  <strong>{{Adherent.nom}} {{Adherent.prenom}} </strong> dans votre espace interne.</div>

              <div class="panel-body">
        <div class="container" style="width: 550px; height: 500px;" >
          <canvas id="myChart2" width="2" height="1.5" style="margin-top: -9px; margin-left: 250px;"></canvas>
          
          <div style="margin-left: -250px; margin-top: -240px;">
            <h6 class="card-subtitle mb-2 text-muted" >Il est à Noter Que :</h6>
            <h5 class="">25% = Notions </h5>
            <h5  class="card-text">50% = Intermédiare </h5>
            <h5  class="card-text">75% = Avancé </h5>
            <h5  class="card-text">100% = Expert</h5>
           </div>
        </div>
    
      <!-- </div> -->

    
  <!-- </div> -->


    





