  <app-navbar-supp></app-navbar-supp>
  <app-sidebar-admin></app-sidebar-admin> 

  <ng-template #content let-modal>
    <div class="modal-header" style="background-color: #25857e;">
      <h4 class="modal-title" id="modal-basic-title" style="margin-left: 180px;"><i class="fa fa-tasks" aria-hidden="true"></i>   Add a Task</h4>
      <a  class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
    </div>
    <div class="modal-body">
      <form [formGroup]="todoForm" (ngSubmit)="createTodo()">
        <div class="mb-6">
          <label for="title" style="font-size: 14px; font-family: bold;">Title :</label>
          <div class="input-group">
            <input id="title" class="form-control" placeholder="" formControlName="title"  
            [ngClass]="{'is-invalid':todoForm.get('title')!.touched && !todoForm.get('title')!.valid}" >
           
          </div>
        </div>
        <div class="mb-6">
          <label for="day" style="font-size: 14px; font-family: bold;">Day :</label>
          <div class="input-group">
            <input type="date" class="form-control" placeholder="" formControlName="day"  
            [ngClass]="{'is-invalid':todoForm.get('day')!.touched && !todoForm.get('day')!.valid}" >
           
          </div>
        </div>
        <div class="mb-6">
          <label for="time" style="font-size: 14px; font-family: bold;">Time :</label>
          <div class="input-group">
            <input type="time" class="form-control" placeholder="" formControlName="time"  
            [ngClass]="{'is-invalid':todoForm.get('time')!.touched && !todoForm.get('time')!.valid}" >
           
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" style="margin-right: 220px; width: 50px;" [disabled]=!todoForm.valid (click)="createTodo();modal.close('Save click');opensweetalert()">Save</button>
    </div>
  </ng-template>




    <!--- ------------------------------------------------------------------ ------------------>

    
    <h3><i style="margin-left: 270px; margin-top: 1px;"></i></h3>
   
  <div _ngcontent-roy-c3=""  >
        
    <br _ngcontent-roy-c3="">
    
    <button 
            class="btn-tache"
            style="margin-left: 45%; width: 15%;"
             type="submit"
            (click)=" open(content)">Add a task</button>
    <br><br><br>

    <div style="margin:5px 0px" class="container">
        <ul class="list-group">
            
            <li class="list-group-item" *ngFor="let todo of todos" [class.completed]="todo.completed === true" >
                <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
                    <a class="todo-completed"(click)="toggleCompleted(todo);delete(todo._id);opensweetalert2()" >
                      <i class="material-icons toggle-completed-checkbox"></i> 
                    </a> 
                    <span class="todo-title">
                       {{todo.title}}                
                    </span>
                    <i class="fa fa-calendar-o" aria-hidden="true"  style="margin-left: 50px"></i>
                   <span class="todo-title">
                    {{todo.day}}             
                 </span>
                    <i class="fa fa-clock-o" aria-hidden="true"  style="margin-left: 50px"></i>
                    <span class="todo-title">
                      {{todo.time}}                 
                   </span>
                   
                    <span class="todo-actions pull-right">
                        <!-- <a >
                          <i class="material-icons edit">edit</i>
                        </a> -->
                        <button (click)="delete(todo._id);opensweetalert2()">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
           
                    </span>
                </div>
                <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
                    <input class="form-control" type="text" 
                     [(ngModel)]="editingTodo.title" required>
                    <span class="edit-actions">
                   
                    </span>
                </div>
              </li>
        </ul>
    </div>
    
</div>

<div style="margin-left:200px; margin-top: -335px;"> 
  <img  style="width: 150px;" src="assets/img/task.png">
</div>
   
       