<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>

 <div class="wrapper"  style="margin-top: -20px;">
 
    <div class="left" style="margin-top: -1px;">
        <img src="assets/img/candidat.png" alt="user"  class="img-circle">
        <h5>{{candidate.nomCan}} {{candidate.prenomCan}} </h5>
  
    </div>
    <div class="right">
        <div class="info">
            <h3>Civilité</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Adresse E-mail</h4>
                    <p>{{candidate.emailCan}}</p>
                </div>
                <div class="data">
                    <h4 style="margin-left: 50px;">N° Téléphone</h4>
                    <p style="margin-left: 60px;">{{candidate.phoneCan}}</p>
                </div>
                <div class="data">
                    <h4>Date de Naissance</h4>
                    <p style="margin-left: 30px;">{{candidate.dateOfBirth}}</p>
                </div>

            </div>
        </div>

        <div class="projects" style="margin-top: -10px;">
            <h3>Niveau d'étude</h3>
            <div class="projects_data">
                <div class="data">
                    <h4>Niveau</h4>
                    <p>{{candidate.niveauEtud}}</p>
                </div>
                <div class="data">
                    <h4 style="margin-left: -10px;">Titre du Diplome</h4>
                    <p style="margin-left: 20px;">{{candidate.titreDiplome}}</p>
                </div>
                <div class="data">
                    <h4>Université</h4>
                    <p style="margin-left: 30px;">{{candidate.university}}</p>
                </div>
                
            </div>
        </div>
        <div class="exp" style="margin-top: -10px;">
            <h3>Experience</h3>
            <div class="exp_data">
                <div class="data">
                    <h4>Niveau d'experience
                    </h4>
                    <p style="margin-left: 50px;">{{candidate.niveauExp}}</p>
                </div>
                <div class="data">
                    <h4>Experiences</h4>
                    <p>{{candidate.experience}}</p>
                </div>
                

            </div>
        </div>

        <div class="exp" style="margin-top: -10px;">
            <h3>Documents Joints
            </h3>
            <div class="exp_data">
                <div class="data">
                    <h4>Curriculum vitæ</h4>
                    <p>{{candidate.file}}
                        <a href="http://localhost:3000/{{candidate.file}}"
                class="cv"><i class="fa fa-download"></i></a>
                    </p>
                </div>
                <div class="data">
                    <h4>lettre de Motivation
                    </h4>
                   
                    <p>{{candidate.pathMotivationLetter}} 
                        <a href="http://localhost:3000/{{candidate.pathMotivationLetter}}"
                class="cv" > <i class="fa fa-download" aria-hidden="true"></i>
                
            </a>
                
                    </p>
                    
                </div>
                

            </div>
        </div>
    </div>
    
</div>

    <div class="container">
    <button class="btn btn1" style="margin-top: -830px; margin-right: 60px;" (click)="sendMail(); opensweetalert3()">Send an Email of Confirmation</button>
    <button class="btn btn2" style="margin-top: -830px; margin-right: -550px;"  (click)="sendDenyMail();opensweetalert3()">Send an Email of Rejection</button> 
   
     </div> 


