@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #f3f3f3;
}

.wrapper{
    position: absolute;
    top: 25%;
    left: 58%;
    
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 220px;
    
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}



.wrapper .left{
        width: 30%;
        
        background: rgb(199, 204, 204);
         padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
}


  


.wrapper .left h4{
    margin-bottom: 10px;
    font-size: 17px;
  }

.wrapper .left p{
    font-size: 16px;
  }

  .wrapper .right .info p{
    font-size: 16px;
  }

  .wrapper .right{
    width: 90%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .wrapper .right .info,
.wrapper .right .projects,
.wrapper.right.exp {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3,
.wrapper .right .exp h3
{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data,
.wrapper .right .exp_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data,
.wrapper .right .exp_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4,
.wrapper .right .exp_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p,
.wrapper .right .exp_data .data p{
  font-size: 16px;
  margin-bottom: 10px;
  color: #919aa3;
}
.wrapper .right .exp_data .data p a {
    font-size:20px;
    width: 30px;
}
.wrapper .right .btn {
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    color:rgb(255, 255, 255);
    margin : 30px 200px;
    background: #748583;
    margin-top: 10px;
    
}

h2{
  font-size: 17px;
  color:black;
}
h4{
  font-size: 18px;
  
}
/* ****************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

#ui{
    background-color: rgb(199, 204, 204);
    padding: 30px;
    margin-top: 80px;
    box-shadow: 0 2px 10px rgba(64,64,64,.7);
    border-radius: 10px 10px 10px 10px;
    height: 220px;
    margin-left: -70px;
    width: 550px;
}
#ui label{
    color : rgb(20, 18, 18);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

h3 {
    margin-bottom: 10px;
    color : rgb(7, 6, 6);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
}



input{
    color : rgb(7, 6, 6);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

img{
    margin-left: 1%;
}

.select{
    margin-left: 25%;
    margin-top: 10px;
}



