<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>



        <div class="wrapper" style="margin-top: 50px; margin-left: -10px;">
          <div class="left"> 
            <img src="assets/img/admin.png" alt="Admin" width="120" class="rounded-circle">
            <br>
            <br>
            <h4 style="color: rgb(7, 6, 6);">{{Admin.nom}} {{Admin.prenom}} </h4>
           
        
          </div>
                
          <div class="right">
        
            <div class="info">
                  <h3> informations</h3>
              <div class="info_data">
                    <div class="data">
                      <h4>Email</h4>
                      <p> {{Admin.email}}</p>
                  </div>
                  <div class="data">
                    <h4>Situation Professionnelle</h4>
                    <p> {{Admin.profession}}</p>
                </div>
               
       
         
        
            </div>
          </div>
          
                    
    <div class="row">
  
        
    
        <!-- <div class="col-lg-7">
            <div id="ui">
                <form >
                <h3><i class="fa fa-angle-right"></i> Edit your password
                </h3>
                <br>
                
  

                <label for="fname">Old password</label>
              <input type="password" name="oldPassword" class="form-control">

                <label for="fname">New password</label>
              <input type="password" name="newPassword" class="form-control" >
                        
                      
                    
                  
            
                <br>
                <br>
                <button  type="button" class="btn btn-secondary">Enregistrer </button>
               
            </form>
            </div>
  
        
  
    </div> -->
  
                
            </div>
            
        
            
          </div>
        
     