<!-- <app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin> -->

  <!-- <h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -12px;"></i> Courbe des Compétences </h3>
  <div _ngcontent-roy-c3="" class="card-body">
           <div >
                <input type="text" class="form-control"  [(ngModel)]="term"   placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
                  </div> -->


<div class="container" style="width: 550px; margin-top: -20px; margin-right: 40px;" >
    <canvas id="myChart" width="2" height="1"></canvas>
  </div>


