<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>
     




<!-- <div class="wrapper" style="margin-top: -120px;">
    <div class="left"> 
      <img src="assets/img/ui-sam.jpg" alt="user" width="150" class="img-circle" >
      <br>
      <br>
      <h4>{{Adherent.prenom}} {{Adherent.nom}} </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Informations de Contact</h3>
        <div class="info_data">
          <div class="data">
            <h4>CIN</h4>
            <p> {{Adherent.CIN}}</p>
          </div>
              <div class="data">
                <h4>Nom</h4>
                <p> {{Adherent.prenom}}</p>
            </div>
            <div class="data">
              <h4>Prénom</h4>
              <p> {{Adherent.nom}}</p>
          </div>
         
          
  
      </div>
  
      <div class="info_data">
        <div class="data">
          <h4>Email</h4>
          <p> {{Adherent.email}}</p>
        </div>
        <div class="data">
          <h4>Civilité</h4>
          <p> {{Adherent.civilite}}</p>
        </div>
  
        <div class="data">
          <h4>Numéro Téléphone</h4>
          <p> {{Adherent.telephone}}</p>
      </div>
      
  
      </div>
    </div>
            
  
    </div>
  

     
      
  
  </div> -->
 
  <div class="container" style="width: 550px; height: 500px;" >
    <canvas id="myChart2" width="1.5" height="1" style="margin-top: -15px; margin-left: 700px;"></canvas>
  </div>

  <div style=" margin-top: -500px; margin-left: 250px;">
    <h6 class="card-subtitle mb-2 text-muted" >Il est à Noter Que :</h6>
    <h5 class="">25% = Notions </h5>
    <h5  class="card-text">50% = Intermédiare </h5>
    <h5  class="card-text">75% = Avancé </h5>
    <h5  class="card-text">100% = Expert</h5>
   </div>

    