
 <!--header start-->
 <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <!-- <a href="acceuil" class="logo"><b>AR<span>SII</span></b></a> -->
    <a href="" class="logo" style="font-size: 1px;" style="margin-top: 0px;">
     
      <img style="width: 210px;;margin-top: 15px; margin-left: -35px;" class="logo"
      src="https://arsii.org/theme_assets/img/arsii-white.png" alt="logo"
       >
</a>
    <!--logo end-->
  
    <div class="nav notify-row" id="top_menu">
     
     <ul class="nav top-menu">
      
       <li class="dropdown">
         <a class="btn btn1" routerLink="/entrepriseArea" style="margin-left: -50px;">Entreprise Area</a>
        
       </li>
       
       <li id="header_inbox_bar" class="dropdown">
         <a class="btn btn2" routerLink="/candidat">Candidate Area</a>
         
       </li>
       
     </ul>
 
   </div>
    
    <div class="top-menu">
  
     <ul class="nav pull-right top-menu">
  
  
       <li>
         <a href="/inscription" class="text-secondary"  routerLink="/inscription" style="background-color:  #eee; margin-top: 12px;">Sign Up</a>
       </li>
       <li>
         <a href="/login" class="text-secondary" routerLink="/login" style="background-color:  #eee; margin-top: 12px;">Login</a>
       </li>
     </ul>
  
     
    </div>
  </header>
  <!--header end-->