.btn-theme {
    color: #fff;
    background-color:  #25857e;
    border-color:  #25857e;
}
.btn-block {
    display: block;
    width: 100%;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-weight: 400;
}

body {
    color: #797979;
    background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 19px;
    width: 380px;
}

.card {
    height: 360px;
    width: 380px;
    
}

.btn{
    font-size: 16px;
}

input {
    font-size: 16px;
}

h3{
    font-size: 12px;
    color: #020707;
}

label{ 
    font-size: 12px;

}

.message{
    
    flex-basis: 80%;
    padding-left: 130px;
     
}
/* @media screen and (max-width: 767px) {
     .big-container{
         display:flex;
         flex-direction:column-reverse;
     }
  } */
