<app-navbar-supp></app-navbar-supp>

<app-sidebar></app-sidebar>

<div class="wrapper">
    <div class="left"> 
      <img src="http://localhost:8080/avatar/{{Adherent.id}}" alt="user" width="150" class="img-circle" >
      <br>
      <br>
      <h4>{{Adherent.prenom}} {{Adherent.nom}} </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Informations de Contact</h3>
        <div class="info_data">
              <div class="data">
                <h4>Nom</h4>
                <p> {{Adherent.prenom}}</p>
            </div>
            <div class="data">
              <h4>Prénom</h4>
              <p> {{Adherent.nom}}</p>
          </div>
          <div class="data">
            <h4>Email</h4>
            <p> {{Adherent.email}}</p>
          </div>
          
  
      </div>
  
      <div class="info_data">
  
        <div class="data">
          <h4>Civilité</h4>
          <p> {{Adherent.civilite}}</p>
        </div>
  
        <div class="data">
          <h4>Numéro Téléphone</h4>
          <p> {{Adherent.telephone}}</p>
      </div>
      
  
      </div>
    </div>
            
    <div class="projects">
  
        <h3> Informations Professionnels</h3>
        <div class="info_data">
          <div class="data">
            <h4>Situation Professionelle</h4>
            <p> {{Adherent.profession}}</p>
          </div>
          <div class="data">
            <h4>Université </h4>
            <p> {{Adherent.etablissement}}</p>
          </div>
          <div class="data">
            <h4>Cycle</h4>
            <p> {{Adherent.cycle}}</p>
          </div>
          
  
        </div> 
          
         <div class="info_data">
          <div class="data">
            <h4>Niveau </h4>
            <p> {{Adherent.niveau}}</p>
          </div>
          <div class="data">
            <h4>Spécialité</h4>
            <p> {{Adherent.specialite}}</p>
          </div>
          <div class="data">
            
          </div>
  
        </div>
          
      </div>
      <!-- <a class="btn" (click)="generateReport()" >Export informations to PDF</a> -->
      
    </div>
  
    
  
  </div>
        <!-- /col-lg-6 -->
        <!--<div class="col-lg-8 ">-->
          <!--  BUTTONS SIZES -->
          <!--<div class="showback">
            <h4><i class="fa fa-angle-right"></i> Congés</h4>
            
            <table class="table table-striped table-advance table-hover" class="content-table">
  
              <thead>
              <tr>
                <th>Début</th>
                <th>Fin</th>
                <th>Jour(s) pris</th>
                <th>Etat</th>
      
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let Adherent of Adherentes">
                      <td>{{conge.debutCong}}</td>
                      <td>{{conge.finCong}}</td>
                      <td>{{conge.duree}}</td>
                      <td>{{conge.statusOfDemand}}</td>
                  
                  </tr>
              </tbody>
            </table>
          
           
          </div>-->
          
  
          <!-- /showback -->
          <!-- BUTTON BLOCK -->
          
             
  
              
  
          
  