<app-navbar-supp></app-navbar-supp>
<app-sidebar-entreprise></app-sidebar-entreprise>
<div class="container" style="width: 550px; height: 500px;" >
    <canvas id="myChart2" width="1.5" height="1" style="margin-top: -15px; margin-left: 300px;"></canvas>
  </div>

  <div style=" margin-top: -500px; margin-left: 250px;">
    <h6 class="card-subtitle mb-2 text-muted" >Il est à Noter Que :</h6>
    <h5 class="">25% = Notions </h5>
    <h5  class="card-text">50% = Intermédiare </h5>
    <h5  class="card-text">75% = Avancé </h5>
    <h5  class="card-text">100% = Expert</h5>
   </div>