<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>


<h3><i class="fa fa-angle-double-right" style="margin-left: 280px;"></i> Liste Des Candidats</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
   
   
    <table class="table table-striped" style="margin-top: 5%;">
  
      <thead class="thead-inverse">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>E-mail</th>
        <th>CV</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let candidate of Candidat | paginate: {itemsPerPage: 4, currentPage: p}" >
              <td>{{candidate.nomCan}}</td>
              <td>{{candidate.prenomCan}}</td>
              <td>{{candidate.emailCan}}</td>
              <td>{{candidate.pathCv}}
            
                <button type="submit"  class="btn"  (click)="getfile()">
                  <span class="fa fa-download"></span>
                </button>
              

              </td>
              <td>
                <div class="container">
                <button mat-raised-button class="action-button btn-success" [routerLink]="['/profil-candidat',candidate._id]">
                    <span class="fa fa-eye"></span>
    
                  </button>
                
          <button  mat-raised-button  mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="delete(candidate._id)"
          (cancel)="cancelClicked = true" class="action-button btn-danger" > 
          <span class="fa fa-trash"></span>
        </button>
      </div>
          </tr>
      </tbody>
      
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
 
  











