<app-navbar-supp></app-navbar-supp>
<app-sidebar></app-sidebar>


<h3><i class="fa fa-angle-right" style="margin-left: 280px;"></i> List of candidates</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
   
   
    <table class="table table-striped" style="margin-top: 3%;">
  
      <thead class="thead-inverse">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>email</th>
        <th>CV</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let candidate of Candidat | paginate: {itemsPerPage: 5, currentPage: p}" >
              <td>{{candidate.prenomCan}}</td>
              <td>{{candidate.nomCan}}</td>
              <td>{{candidate.emailCan}}</td>
              <td>{{candidate.pathCv}}
                <a href=""
                class="cv"> <i class="fa fa-download"></i></a>

              </td>
              <td>
                <button mat-raised-button class="action-button btn-primary" [routerLink]="['/profil-candidat']">
                    <span class="fa fa-eye"></span>
    
                  </button>
                
          <button  mat-raised-button  mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="delete(candidate.id)"
          (cancel)="cancelClicked = true" class="action-button btn-danger" > 
          <span class="fa fa-trash"></span>
        </button>
          </tr>
      </tbody>
      
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
 
  











