<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>


<h3><i class="fa fa-angle-double-right" style="margin-left: 280px;"></i> Liste Des Candidats</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
  <div >
    <input type="text" class="form-control" [(ngModel)]="term"   placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
      </div>
   
    <table class="table table-striped" style="margin-top: 5%;">
  
      <thead class="thead-inverse">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>E-mail</th>
        <th>CV    
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let candidate of Candidat | paginate: {itemsPerPage: 4, currentPage: p} | filter:term" >
              <td>{{candidate.nomCan}}</td>
              <td>{{candidate.prenomCan}}</td>
              <td>{{candidate.emailCan}}</td>
              <td> 
                <a style="color: black; font-style:bold" href="http://localhost:3000/{{candidate.file.substring(12)}}">
                {{candidate.file.substring(12)}}
                <button type="submit" class="btn" >
                  <span class="fa fa-download"></span>
                </button>
              </a>
              </td>

             
              <td>
                <div class="container">
                <button mat-raised-button class="action-button btn-success" [routerLink]="['/profil-candidat',candidate._id]">
                    <span class="fa fa-eye"></span>
    
                  </button>
                
          <button  mat-raised-button  mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="delete(candidate._id); opensweetalert3()"
          (cancel)="cancelClicked = true" class="action-button btn-danger" > 
          <span class="fa fa-trash"></span>
        </button>
      </div>
          </tr>
      </tbody>
      
    </table>
    <div class="pagination" style="margin-top: 410px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
 
  











