<div>
  <section id="container">


<aside >
  
  <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;  
  outline: none; margin-left: 0px;
  z-index: 1;
  /* overflow-x: hidden; */
  
  " > 
    
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a><img src="" class="img-circle" width="80" routerLink ="/profil"></a>
        <a><img src="" class="img-circle" width="80" routerLink ="/profil" ></a></p>
      <h5 class="centered"><h2></h2></h5>

      <li class="mt">
        <a routerLink ="/list-adherent" >
          <i class="fa fa-globe"></i>
          <span>Retourner</span>
          </a>
      </li>

     

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active"  >
        <a href="javascript:;">
          <i class="fa fa-user"></i>
          <span [routerLink] ="['/info-employe']">Employee profile</span>
          <span class="dcjq-icon"></span></a>
  
      </li>

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-list"></i>
          <span routerLink ="/profil">Plan de Formations
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span routerLink ="/profil">Compétences
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span routerLink ="/profil">Settings
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      
      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
         
 
      </mat-accordion>


      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
       
      </mat-accordion>

      

     
    

      <mat-accordion class="sidebar" routerLinkActive = "active"  >
        
      </mat-accordion>

      
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->

<section id="main-content">
  <section class="wrapper">

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    </section>

</section>

</div>


