<div>
  <section id="container">


<aside >
  
  <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;  
  outline: none; margin-left: 0px;
  z-index: 1;
  /* overflow-x: hidden; */
  
  " > 
    
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a><img src="assets/img/ui-danro.jpg" class="img-circle" width="80" routerLink ="/profil"></a>
        <a><img src="" class="img-circle" width="80" routerLink ="/profil" ></a></p>
      <h5 class="centered"><h3>{{Adherent.nom}} {{Adherent.prenom}} </h3></h5>

       <li class="mt">
        <a routerLink ="/acceuil" >
          <i class="fa fa-globe"></i>
          <span>Retourner au site</span>
          </a>
      </li> 

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active"  >
        <a href="javascript:;">
          <i class="fa fa-user"></i>
          <span [routerLink] ="['/info-adherent']"> Mon Profil </span>
          <span class="dcjq-icon"></span></a>
  
      </li>

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-list"></i>
          <span routerLink ="/plan-formation">Plan de Formations
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span routerLink ="/chart"> Mes Compétences
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-edit"></i>
          <span routerLink ="/update-adherent">Moodifier Profile
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      
    

      <li class="sub-menu dcjq-parent-li">
        <a  (click)="logout()" >
            <i class="fa fa-arrow-left"></i>
            <span class="title">Se Déconnecter</span></a>
  
      </li> 
    
      
      
      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
         
 
      </mat-accordion>


      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
       
      </mat-accordion>

      

     
    

      <mat-accordion class="sidebar" routerLinkActive = "active"  >
        
      </mat-accordion>

      
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->

<section id="main-content">
  <section class="wrapper">

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    </section>

</section>

</div>


