<div>
  <section id="container">


<aside >
  
  <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;  
  outline: none; margin-left: 0px;
  z-index: 1;
  /* overflow-x: hidden; */
  
  " > 
    
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a><img src="http://localhost:3000/{{Adherent.file.substring(12)}}"     class="img-circle" width="90" routerLink ="/profil"></a>
        <a><img src="" class="img-circle" width="100" routerLink ="/profil" ></a></p>
      <h5 class="centered"><h4>{{Adherent.nom}} {{Adherent.prenom}} </h4></h5>

       <li class="mt">
        <a routerLink ="/acceuil" >
          <i class="fa fa-globe"></i>
          <span>Retourner au Site</span>
          </a>
      </li> 

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active"  >
        <a href="javascript:;">
          <i class="fa fa-user"></i>
          <span routerLink ="/info-adherent"> Mon Profil </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-edit"></i>
          <span routerLink ="/update-adherent">Moodifier Profil
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span routerLink ="/chart"> Mes Compétences
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span routerLink ="/add-competence"> Ajouter Compétence
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>

      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-list"></i>
          <span routerLink ="/formation-adherent">Plan de Formations
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
        <a href="javascript:;">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <span routerLink ="/suggestions">Suggestions
          </span>
          <span class="dcjq-icon"></span></a>
  
      </li>
      
      <li>
        <a href="fiche-adhesion">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <span> Attestaion d'adhésion</span>
        </a>
    </li>
    
      
      <li class="">
        <a href="changerPWD">
            <i class="fa fa-key"></i>
            <span class="title">Changer mot de passe</span>
        </a>
    </li>

      <li class="">
        <a (click)="open(content)"  >
            <i class="fa fa-arrow-left"></i>
            <span class="title">Déconnexion</span></a>
  
      </li> 
    
      
      
      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
         
 
      </mat-accordion>


      <mat-accordion class="sidebar" routerLinkActive = "active"  >
      
       
      </mat-accordion>

      

     
    

      <mat-accordion class="sidebar" routerLinkActive = "active"  >
        
      </mat-accordion>

      
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->

<section id="main-content">
  <section class="wrapper">

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    </section>

</section>

</div>

<!-- /////////////////////////////////modal///////////////////////////////////////// -->
<ng-template #content let-modal >
  <div class="modal-header"  style="background-color: #25857e; height: 40px;" >
   <h4 style="color: #ffffff; margin-left: 120px; margin-top: 5px;"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h4>
    <h4 class="modal-title" id="modal-basic-title" style="margin-left: 20px;">     Alerte de Confirmation  </h4>
    <a  class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
  </div>
  <div class="modal-body">
    <form >
      <div class="mb-6">
        <!-- <label for="title" style="font-size: 14px; font-family: bold; margin-top: 15px;">Nom de Formation  </label> -->
        <div class="input-group">
          <div class="data">
            <h4 style="margin-left:120px;">Voulez Vraiment Se Déconnecter ? </h4>

        </div>
        </div>
      </div>
      <button type="button" class="btn btn-danger"  style="margin-left: 160px; margin-top: 30px;  font-size: 14px;" (click)="modal.close('Save click')" >
     
        Cancel</button>
        <button type="button" class="btn btn-success"  style="margin-left: 30px; margin-top: 30px;  font-size: 14px;" (click)="logout();modal.close('Save click')" >
       
          Déconnexion</button>
  
    </form>
  </div>

</ng-template>
