<app-navbar-supp></app-navbar-supp>

<app-sidebar></app-sidebar>



<button type="button" class="btn btn-success" style="margin-left: 1230px; margin-top: -9px;" (click)="ajoutCompetence2(id)" >Ajouter </button>
<form [formGroup]="competenceForm">
<table class="table table-striped"  >
    <thead class="thead-inverse">
    <tr>
      <th ><label>Action</label></th>
      <th><label>Nom Compétence</label></th>
      <th ><label>Taux de Connaissance</label></th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
      <td>
        <button type="button" class="fa fa-trash-o" aria-hidden="true" (click)="deleteRow(i)">   Delete</button>
        
      </td>
      <td>
        <select  style="width:180px"  formControlName="nom"
        
        >
            <option  *ngFor ="let item of competence" [ngValue]="item._id"> {{item.nom}} </option>
          
          
           

        </select>
      </td>
      <td>
        <select style="width:180px"  formControlName="niveau">
            <option value="25">Notions</option>
            <option value="50">Intermédiare</option>
            <option value="75">Avancé</option>
            <option value="100">Expert</option>
           
           

        </select>
      </td>
      <!-- <td>
        <input  style="width:250px" name="{{dynamic.emailAddress}}" [(ngModel)]="dynamic.emailAddress"  type="email"/>
      </td> -->
    </tr>
    <tr>
      <td>
        <button type="button" class="fa fa-plus " (click)="addRow()">  Add</button> <br>
        <!-- <button class="fa fa-plus " (click)="getValues()">Get data</button> -->
      </td>
      
    </tr>
    </tbody>
    </table>
 
   
    <!-- <div>{{dynamicArray | json}}</div> -->
</form>