<app-navbar-supp></app-navbar-supp>

<app-sidebar></app-sidebar>

<button type="button" class="btn btn-success" style="margin-left: 1230px; margin-top: -9px;" >Ajouter </button>
<form [formGroup]="competenceForm" >
<table class="table table-striped"  >
    <thead class="thead-inverse">
    <tr>
      <th ><label>Action</label></th>
      <th><label>Nom Compétence</label></th>
      <th ><label>Taux de Connaissance</label></th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
      <td>
        <button type="button" class="fa fa-trash-o" aria-hidden="true" (click)="deleteRow(i)">   Delete</button>
        
      </td>
      <td>
        <select  style="width:180px"  name="{{dynamic.nomCompetence}}" [(ngModel)]="dynamic.nomCompetence"  type="text" 
        
        >
            <option value="Angular">Angular</option>
            <option value="React">React</option>
            <option value="Spring-Boot">Spring-Boot</option>
            <option value="Laravel">Laravel</option>
            <option value="Flutter">Flutter</option>
            <option value="UI-UX Design">UI-UX Design</option>
            <option value="Node-JS">Node-JS</option>
            <option value="Intelligence Artificielle">Intelligence Artificielle</option>
            <option value="DevOps">DevOps</option>
            <option value="Git-Gitlab">Git/Gitlab</option>
            <option value="Docker">Docker</option>
            <option value="Android Native">Android Native</option>
            <option value="HTML-CSS">HTML-CSS</option>
            <option value="PHP">PHP</option>
            <option value="UML">UML</option>

        </select>
      </td>
      <td>
        <select style="width:180px" name="{{dynamic.Niveau}}" [(ngModel)]="dynamic.Niveau"  type="text"
        >
            <option value="Angular">Notions</option>
            <option value="React">Intermédiare</option>
            <option value="Spring-Boot">Avancé</option>
            <option value="Laravel">Expert</option>
           
           

        </select>
      </td>
      <!-- <td>
        <input  style="width:250px" name="{{dynamic.emailAddress}}" [(ngModel)]="dynamic.emailAddress"  type="email"/>
      </td> -->
    </tr>
    <tr>
      <td>
        <button type="button" class="fa fa-plus " (click)="addRow()">  Add</button> <br>
        <!-- <button class="fa fa-plus " (click)="getValues()">Get data</button> -->
      </td>
      
    </tr>
    </tbody>
    </table>

   
    <!-- <div>{{dynamicArray | json}}</div> -->
</form>