<app-navbar-supp></app-navbar-supp>

<app-sidebar></app-sidebar>

<button type="button" class="btn btn-success" style="margin-left: 1230px; margin-top: -9px;" (click)="createCompetence();opensweetalert2()" >Ajouter </button>
<form [formGroup]="competenceForm" (ngSubmit)="createCompetence()">
<table class="table table-striped"  >
    <thead class="thead-inverse">
    <tr>
      <th ><label>Action</label></th>
      <th><label>Nom Compétence</label></th>
      <th ><label>Taux de Connaissance</label></th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
      <td>
        <button type="button" class="fa fa-trash-o" aria-hidden="true" (click)="deleteRow(i)">   Delete</button>
        
      </td>
      <td>
        <select  style="width:180px"  formControlName="nom"
        
        >
            <option value="Angular">Angular</option>
            <option value="React">React</option>
            <option value="Spring-Boot">Spring-Boot</option>
            <option value="Node-JS">Node-JS</option>
            <option value="Java-Script">Java-Script</option>
            <option value="Java">Java</option>
            <option value="Symphony">Symphony</option>
            <option value="PHP">PHP</option>
            <option value="Laravel">Laravel</option>
            <option value=".Net">.Net</option>
            <option value="HTML/HTML5">HTML/HTML5</option>
            <option value="CSS/CSS3">CSS/CSS3</option>
            <option value="Flutter">Flutter</option>
            <option value="Android Native">Android Native</option>
            <option value="UI-UX Design">UI-UX Design</option>
            <option value="Docker">Docker</option>
            <option value="SQL/NoSql">SQL/NoSql</option>
            <option value="DevOps">DevOps</option>
            <option value="Git-Gitlab">Git/Gitlab</option>
            <option value="Intelligence Artificielle">Intelligence Artificielle</option>
            <option value="Big Data">Big Data</option>
            <option value="Django">Django</option>
            <option value="C# / C / C++">C# / C / C++</option>
            <option value="UML">UML</option>
          
            
           
           
            
            
            
        
            

        </select>
      </td>
      <td>
        <select style="width:180px"  formControlName="niveau"
        >
            <option value="1000">Débutant</option>
            <option value="40000">Notions</option>
            <option value="60000">Intermédiare</option>
            <option value="80000">Avancé</option>
            <option value="100000">Expert</option>
           
           

        </select>
      </td>
      <!-- <td>
        <input  style="width:250px" name="{{dynamic.emailAddress}}" [(ngModel)]="dynamic.emailAddress"  type="email"/>
      </td> -->
    </tr>
    <tr>
      <td>
        <button type="button" class="fa fa-plus " (click)="addRow()">  Add</button> <br>
        <!-- <button class="fa fa-plus " (click)="getValues()">Get data</button> -->
      </td>
      
    </tr>
    </tbody>
    </table>

   
    <!-- <div>{{dynamicArray | json}}</div> -->
</form>