<app-navbar-supp></app-navbar-supp>
<app-sidebar></app-sidebar>

<div class="row">
    <div class="col-md-12" style="margin-top: 7px; margin-left: 220px; width: 1150px;" >
        <div class="panel panel-default">
            <div class="panel-heading">Bienvenue,  <strong>{{Adherent.nom}} {{Adherent.prenom}} </strong> dans votre espace interne.</div>

            <div class="panel-body">
                <div class="col-lg-5" >
                    <div id="ui">
                
                      <form >
                      <h3><i class="fa fa-angle-right"></i> Modifier votre photo de profil</h3>
                      <img src="http://localhost:8080/avatar/" alt="user" width="150" class="img-circle">
                      
                        
                        <br>
                        <input class="select" type="file" accept="image/*">
                    
                        <br>
                        <br>
                       
                        <button type="submit" value="save" class="btn-photo" > Enregistrer </button>
                    </form>
                
                    </div>
                  </div>
                     <div class="col-lg-7">
                        <div id="ui1">
                            <form >
                            <h3><i class="fa fa-angle-right"></i> Changer votre mot de passe
                            </h3>
                            <br>
                     
                            <label for="fname">Votre Mot de passe</label>
                          <input type="password" name="oldPassword" class="form-control">
                
                            <label for="fname">Nouveau Mot de passe</label>
                          <input type="password" name="newPassword" class="form-control" >
                                    
                                  
                                
                              
                        
                            <br>
                            <br>
                            <button type="submit" value="save" class="btn btn-secondary" > Modifier </button>
                
                        </form>
                        </div>
                
                    
                
                </div> 
                
                <div class="col-lg-1"></div>
                
                </div>
                
                    
                
                
            
            </div>

            
        </div>

    </div>
        
    