<app-navbar-supp></app-navbar-supp>

<app-sidebar-entreprise></app-sidebar-entreprise>

<div class="wrapper">
    <div class="left"> 
      <!-- <img src="assets/img/ui-sam.jpg" alt="user" width="150" class="img-circle" > -->
      <br>
      <br>
      <h4>{{Entreprise.nomEnt}} {{Entreprise.nomResp}} </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Informations de Contact</h3>
        <div class="info_data">
              <div class="data">
                <h4>Nom</h4>
                <p> {{Entreprise.nomEnt}}</p>
            </div>
            <div class="data">
              <h4>Prénom</h4>
              <p> {{Entreprise.telEnt}}</p>
          </div>
          <div class="data">
            <h4>Email</h4>
            <p> {{Entreprise.emailEnt}}</p>
          </div>
          
  
      </div>
  
      <div class="info_data">
  
        
  
      
  
      </div>
    </div>
            
    <div class="projects">
  
        <h3> Informations Professionnels</h3>
       
          
         
          
      </div>
      <!-- <a class="btn"  >Export informations to PDF</a>
       -->
    </div>
  
    
     
      
  
  </div>
       
          
             
    
  
              
  
          
  