<app-navbar-supp></app-navbar-supp>

<app-sidebar-entreprise></app-sidebar-entreprise>

<!-- <div class="row">
  <div class="col-md-12" style="margin-top: 10px; margin-left: 230px; width: 1100px; height: 200px;" >
      <div class="panel panel-default">
       
          <div class="panel-heading" style="height: 36px; "> Bienvenue,  <strong>{{Entreprise.nomEnt}}  </strong> dans votre Espace Interne.</div>
          
         
        </div>
  </div> -->
   
          <div class="wrapper" style="margin-top: 40px; margin-left: -10px;"  >
    <div class="left"> 
      <!-- <img src="assets/img/ui-sam.jpg" alt="user" width="150" class="img-circle" > -->
      <br>
      <br>
      <a><img src="assets/img/entreprise.png" class="img-circle" width="110" style="margin-left: 85px; margin-top: -55px;" routerLink ="/profil" ></a>
      <h4 style="color: black; font-size: 20px;">{{Entreprise.nomEnt}} </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Informations de Contact</h3>
        <div class="info_data">
              <div class="data">
                <h4>Nom De l'entreprise</h4>
                <p style="margin-left:50px ;"> {{Entreprise.nomEnt}}</p>
            </div>
            <div class="data">
              <h4>Nom du Responsable</h4>
              <p style="margin-left:50px ;"> {{Entreprise.nomResp}}</p>
          </div>
          <div class="data">
            <h4>Email</h4>
            <p> {{Entreprise.emailEnt}}</p>
          </div>
          
         
      </div>
  
      <div class="info_data">
  
        <div class="data">
          <h4>Adresse</h4>
          <p style="margin-left:10px ;"> {{Entreprise.adresse}}</p>
        </div>
        
        <div class="data">
          <h4 style="margin-left:-80px ;">N° Télèphone </h4>
          <p style="margin-left:-60px ;"> {{Entreprise.telEnt}}</p>
        </div>
      
  
      </div>
    </div>
            
      <!-- <a class="btn"  >Export informations to PDF</a>
       -->
    </div>
  
 
     
      
 
  </div>
       
    
             
    
  
              
  
          
  