

<div>
    <section id="container">
  
  
  <aside >
    
    <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;  
    outline: none; margin-left: 0px;
    z-index: 1;
    /* overflow-x: hidden; */
    
    " > 
      
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a><img src="" class="img-circle" width="80" routerLink ="/profil"></a>
          <a><img src="assets/img/entreprise.png" class="img-circle" width="110" style="margin-left: -10px;" routerLink ="/profil" ></a></p>
        <h5 style="margin-left: 85px;"><h3> {{Entreprise.nomEnt}}</h3></h5>
  
         <li class="title">
          <a routerLink ="/acceuil" >
            <i class="fa fa-globe"></i>
            <span>Retourner au Site</span>
            </a>
        </li> 
        <li class="active">
            <a  href="dashboard-entreprise">
                <i class="fa fa-wrench"></i>
                <span class="title">Tableau de bord</span>
            </a>
        </li>
  
  
        <li class="active">
          <a  href="liste">
              <i class="fa fa-list"></i>
              <span class="title">liste des Adhérents</span>
          </a>
      </li>
        
        
          <li class="sub-menu dcjq-parent-li" routerLinkActive = "active" >
            <a href="javascript:;">
              <i class="fa fa-user"></i>
              <span [routerLink]="['/profil-entreprise',id]">Gérer le Profil
              </span>
              <span class="title"></span></a>
      
          </li> 
        
          <li class="">
            <a (click)="open(content)"  >
                <i class="fa fa-arrow-left"></i>
                <span class="title">Déconnexion</span></a>
      
          </li> 
        
      
        
        <mat-accordion class="sidebar" routerLinkActive = "active"  >
        
           
   
        </mat-accordion>
  
  
        <mat-accordion class="sidebar" routerLinkActive = "active"  >
        
         
        </mat-accordion>
  
        
  
       
      
  
        <mat-accordion class="sidebar" routerLinkActive = "active"  >
          
        </mat-accordion>
  
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  
  <section id="main-content">
    <section class="wrapper">
  
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </section>
      </section>
  
  </section>
  
  </div>
  
  <!-- /////////////////////////////////modal///////////////////////////////////////// -->
<ng-template #content let-modal >
  <div class="modal-header"  style="background-color: #25857e; height: 40px;" >
   <h4 style="color: #ffffff; margin-left: 120px; margin-top: 5px;"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h4>
    <h4 class="modal-title" id="modal-basic-title" style="margin-left: 20px;">     Alerte de Confirmation  </h4>
    <a  class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
  </div>
  <div class="modal-body">
    <form >
      <div class="mb-6">
        <!-- <label for="title" style="font-size: 14px; font-family: bold; margin-top: 15px;">Nom de Formation  </label> -->
        <div class="input-group">
          <div class="data">
            <h4 style="margin-left:120px;">Voulez Vraiment Se Déconnecter ? </h4>

        </div>
        </div>
      </div>
      <button type="button" class="btn btn-danger"  style="margin-left: 160px; margin-top: 30px;" (click)="modal.close('Save click')" >
     
        Cancel</button>
        <button type="button" class="btn btn-success"  style="margin-left: 30px; margin-top: 30px;" (click)="logout();modal.close('Save click')" >
       
          Déconnexion</button>
  
    </form>
  </div>

</ng-template>

  