<app-navbar-supp></app-navbar-supp>
<app-sidebar-admin></app-sidebar-admin>
<!-- 

<h3><i class="fa fa-angle-double-right" style="margin-left: 280px;"></i> Liste Des Entreprises</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
   
   
    <table class="table table-striped" style="margin-top: 5%;">
  
      <thead class="thead-inverse">
      <tr>
        <th>Nom</th>
        <th>Nom du Responsable</th>
        <th>E-mail
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </th>
        <th>Adresse 
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </th>
        
        <th>Téléphone   
          <i class="fa fa-phone" aria-hidden="true"></i>
        </th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let entreprise of Entreprise | paginate: {itemsPerPage: 4, currentPage: p}" >
              <td>{{entreprise.nomEnt}}</td>
              <td>{{entreprise.nomResp}}</td>
              <td>{{entreprise.emailEnt}}</td>
              <td>{{entreprise.adresse}}</td>
              <td>{{entreprise.telEnt}}</td>
         
          </tr>
      </tbody>
      
    </table>
  </div>
  -->
  
  <h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -2px;"></i> Liste Des Entreprises</h3>
  <div _ngcontent-roy-c3="" class="card-body bg-light">
           <div >
                <input type="text" class="form-control" [(ngModel)]="term"   placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
                  </div>
                        
             <table class="table table-striped" style="margin-top: 8%;" >
                  
                      <thead class="thead-inverse">
                        <tr>
                          <th>Nom</th>
                          <th>Nom du Responsable</th>
                          <th>E-mail
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </th>
                          <th>Adresse 
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </th>
                          
                          <th>Téléphone   
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let entreprise of Entreprise | paginate : {itemsPerPage: 6, currentPage: p} | filter:term" >
                           
                              <td>{{entreprise.nomEnt }} </td>
                              <td>{{entreprise.nomResp}}</td>
                              <td>{{entreprise.emailEnt}}</td>
                              <td>{{entreprise.adresse}}</td>
                              <td>{{entreprise.telEnt}}</td>
                             
                          </tr>
                      </tbody>
                      
                    </table>
  
  
                    <div class="pagination" style="margin-top: 410px;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                  </div>
                
              











