

<div  >
  <div class=""   style="background-image: url('assets/img/arsi.gif'); margin-top: -40px; height: 580px; margin-left: -200px; margin-right: -110px;" >
    
    <div
      class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
    >
      <!-- <div class="col ml-6" style="margin-top: 200px;">
        <div>
          <p class="text-secondary">
            <span style="font-size: 28pt; font-style: bold; margin-left: 430px; " class="text-dark"><strong>Association de Recherche Scientifique</strong><br>
            
              <strong style="font-size: 28pt; margin-left: 480px;">et Innovation en Informatique</strong>
              <br> 
              <h3 style="margin-left: 550px;">  ARSII est une association scientifique et apolitique,</h3>

               <h3 style="margin-left: 455px;"> fondée en Mai 2016 par des jeunes enseignants chercheurs en Informatique</h3></span
            ><br />
   
          </p>
        </div>

        <div>
        
        </div>
      </div> -->
    </div>

  </div>
</div>