
<div class="overlay"></div>
        <video style="margin-left: -120px; width:1357px; position: absolute;" autoplay="" id="myVideo" webkit-playsinline="" loop="" muted="" playsinline="" __idm_id__="15597569">
            <source src="assets/MainVideo_site.ogv" type="video/ogg">
        </video>
        <div class="home-wrapper">
          <div class="container">
              <div class="row">
  

                  <div class="col-md-10 col-md-offset-1" style="margin-top: 250px;">
                      <div class="home-content">
                          <strong  style="color:#fff ; margin-left: 180px; font-size: 35px;">Association de Recherche Scientifique </strong>
                          <h1 style="color:#fff ;margin-left: 250px; font-size: 35px; ">Et Innovation en Informatique</h1>
                          
                          <!-- <p style="text-align:center;font-size:20px; color: #fff;">ARSII est une association
                              scientifique et apolitique,<br> fondée en Mai 2016 par des jeunes enseignants chercheurs en
                              Informatique.</p> -->
                              <br>
                              <button style="margin-left: 410px; height: 30px; font-size: 14px;"  [routerLink]="['/inscription']"class="btn btn">Devenir Membre ?</button>
                      </div>
                  </div>
  
  
              </div>
          </div>
      </div>
     