<app-navbar-supp></app-navbar-supp>
<app-sidebar-entreprise></app-sidebar-entreprise>

 <h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -2px;"></i> Liste des Adhérents</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
         <div >
              <input type="text" class="form-control"  [(ngModel)]="term"   placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
                </div>
                      
           <table class="table table-striped" style="margin-top: 8%;" >
                
                    <thead class="thead-inverse">
                    <tr>
                      <th>Photo</th>
                      <th><i class="fa fa-user" aria-hidden="true"></i>  Nom</th>
                      <th>Prénom</th>
                      <th><i class="fa fa-envelope" aria-hidden="true"></i>  email
                  
                      </th>
                      <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Adherents of Adherent | paginate : {itemsPerPage: 4, currentPage: p} | filter:term" >
                          <img src="http://localhost:3000/{{Adherents.file.substring(12)}}" style="margin-left: 90px;"   alt="user" width="70" class="img-circle">
                            <td>{{Adherents.nom }} </td>
                            <td>{{Adherents.prenom}}</td>
                            
                            <td>{{Adherents.email}}</td>
                           
                             
                            <td>
                              <div class="container">
                                <button mat-raised-button class="action-button btn-success" [routerLink]="['/profil',Adherents.id]">
                                  <span class="fa fa-info"></span>
                  
                                </button>
                             
                              <button mat-raised-button class="action-button btn-secondary" [routerLink]="['/ficheCompetence',Adherents.id]" > <span class="fa fa-line-chart"></span></button> 

                     
                            </div>
                            
                            </td> 
                           
                        </tr>
                    </tbody>
                    
                  </table>


                  <div class="pagination" style="margin-top: 410px;">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                </div>
              
          
               

