
             
                
<div class="panel-body" >

 <!--Tableauuuuuuuu des adhérents-->
      <h3 style="margin-left: 50px; margin-top: 30px;" ><i class="fa fa-angle-right"></i> Liste des Adhérents</h3>
    
     <div style="width: 1340px;"  >
                    
         <div >
              <input type="text" class="form-control" placeholder="Search"  style="margin-left: 100px;" > 
                </div>
                      
           <table class="table table-striped"  >
                
                    <thead class="thead-inverse">
                    <tr>
                      <th>Photo</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Profession</th>
                      <th>civilite</th>
                      <th>email</th>
                      <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Adherents of Adherent  | paginate : {itemsPerPage: 5, currentPage: p}" >
                          <td><img src="http://localhost:8080/avatar/" alt="user" width="70" class="img-circle"></td>
                            <td>{{Adherents.nom}}</td>
                            <td>{{Adherents.prenom}}</td>
                            <td>{{Adherents.profession}}</td>
                            <td>{{Adherents.civilite}}</td>
                            <td>{{Adherents.email}}</td>
                           
                             
                            <td>
                              <div class="container">
                              <button mat-raised-button class="action-button btn-success" [routerLink]="['/profil-adherent',Adherents.id]">
                                <span class="fa fa-info"></span>
                
                              </button>
                              <button mat-raised-button class="action-button btn-primary" (click)="update(id)"> <span class="fa fa-edit"></span></button> 
                              <!-- <button mat-raised-button class="action-button btn-danger" (click)="delete(Adherents.id)"><span class="fa fa-trash"></span></button> -->
                      <button  mat-raised-button  mwlConfirmationPopover
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      placement="left"
                      (confirm)="delete(Adherents.id)"
                      (cancel)="cancelClicked = true" class="action-button btn-danger" > 
                      <span class="fa fa-trash"></span>
                    </button>
                            </div>
                            </td>
                
                           
                        </tr>
                    </tbody>
                    
                  </table>
                  <div class="pagination">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                </div>
              
                </div>
      

