  <app-navbar-supp></app-navbar-supp>
  <app-sidebar></app-sidebar>
  <ng-template #content let-modal>
    <div class="modal-header" style="background-color: #25857e; height: 50px;">
      <h4 class="modal-title" id="modal-basic-title" style="margin-left: 150px;">Suggestion d'une Formation</h4>
      <a class="btn-close" style="margin-left:100px" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
    </div>
    <div class="modal-body">
      <form [formGroup]="suggestionForm" (ngSubmit)="createSuggestion()">
        <div class="col-lg-11" style="margin-left:20px" >
          <label for="title" style="font-size: 16px; font-family: bold; margin-top: 20px;">Titre de Formation:</label>
          <div class="input-group" >
            <input  class="form-control" placeholder="" formControlName="titre"  
            [ngClass]="{'is-invalid':suggestionForm.get('titre')!.touched && !suggestionForm.get('titre')!.valid}" >
           
          </div>
        </div>
        <div class="col-lg-11" style="margin-left:20px">
            <label for="title" style="font-size: 14px; font-family: bold; margin-top: 22px;">Détails:</label>
            <div class="input-group">
              <textarea  class="form-control" placeholder="" formControlName="content"  
              [ngClass]="{'is-invalid':suggestionForm.get('content')!.touched && !suggestionForm.get('content')!.valid}" >
              </textarea>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" style="margin-right: 220px; width: 70px; margin-top: 10px;"  [disabled]=!suggestionForm.valid   (click)="createSuggestion();modal.close('Save click')">Save</button>
    </div>
  </ng-template>

<!-- //////////////////////////////////////////////////////////////////////////////// -->
<h3><i  class="fa fa-angle-double-right" style="margin-left: 240px;"></i> Liste des Suggestions </h3>
    <div _ngcontent-roy-c3="" >
        
        <br _ngcontent-roy-c3="">
        
        <button _ngcontent-roy-c3="" class="btnnote" type="submit" (click)=" open(content)" >Add a Suggestion </button>
        <br><br><br>
        <div class="row justify-content-center">
            <div class="col-md-10">
        <table class="table table-striped card-body text" style="margin-left: 150px;">
        
            <thead class="thead-inverse">
            <tr>
              <th>Nom de Formation</th>
              <th>Détails</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suggestion of suggestions | paginate: {itemsPerPage: 2, currentPage: p}" >
                  <td><p class="content" [innerHTML]="suggestion.titre"></p></td>
                  <!-- <td>{{suggestion.titre}}</td> -->
                    <td><p class="content" [innerHTML]="suggestion.content"></p></td>
                    
                    <td>
                        <div class="pull-right hidden-phone" >
                        <button mat-raised-button class="action-button btn-light"><mat-icon>edit</mat-icon></button> 
                        <button  mat-raised-button  mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="left"
                        (confirm)="delete(suggestions.id)"
                        (cancel)="cancelClicked = true" class="action-button btn-secondary" > 
                        <span class="fa fa-trash"></span>
                      </button>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          </div>
        </div>
</div>




