
<div class="container pt-10" style="margin-top: 20%;margin-left:10%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-justify">
              <span style="font-size: 28pt; margin-left: 60px;"
                >Your application has been successfully registered
                </span
              ><br />
              <span style="font-size: 17pt; margin-left: 100px;" >
                         A return message will be sent to you through the email address provided</span
              >
            </p>
          </div>
          <span >
     
            <img style="width: 130px;height: auto;margin-top: 0px; margin-left: 350px;" class="rounded-circle" src="assets/img/tik.png" alt="logo">
      </span>
        </div>
      </div>
      
    </div>
  </div>