


<form class="form-login" style="margin-top: -150px;">
 
  <div class="card card-container">
    <h2 class="form-login-heading">Inscription</h2>
    <form [formGroup]="entrepriseForm" (ngSubmit)="createEntreprise()"
      *ngIf="!isSuccessful"
      name="form"
      
      #f="ngForm"
      novalidate
    >
    <div class="login-wrap">
    
      <div class="form-row">
       
      <div class="col-6">
        <label for="fname">Email</label>
        <input type="text" class="form-control" name="emailEnt"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$"
                                    formControlName="emailEnt" 
                                   [ngClass]="{'is-invalid':entrepriseForm.get('emailEnt')!.touched && !entrepriseForm.get('emailEnt')!.valid}">
        
   
      </div>
      <br>

      <div class="col-6">
        <label for="fname">Nom de l'entreprise</label>
        <input type="text" class="form-control" name="nomEnt"  
                                    formControlName="nomEnt" 
                                   [ngClass]="{'is-invalid':entrepriseForm.get('nomEnt')!.touched && !entrepriseForm.get('nomEnt')!.valid}">
   
        
      </div>

    </div>
      <br>
      <div class="form-row">
      <div class="col-6">
    <label for="fname">N° TélételEnt</label>
    <input type="text" class="form-control" name="telEnt"  pattern="[0-9]{8}"
    formControlName="telEnt" 
   [ngClass]="{'is-invalid':entrepriseForm.get('telEnt')!.touched && !entrepriseForm.get('telEnt')!.valid}">
        
        
      </div>
      <br>
      <div class="col-6">
        <label for="fname">Nom de Responsable</label>
        <input type="text" class="form-control" name="nomResp"  
        formControlName="nomResp" 
       [ngClass]="{'is-invalid':entrepriseForm.get('nomResp')!.touched && !entrepriseForm.get('nomResp')!.valid}">
            
     

      </div>
    </div>
      <br>
      <div class="form-row">
      <div class="col-6">
        <label for="fname">Password</label>
        <input type="password" class="form-control" name="password"  
        formControlName="password"
       [ngClass]="{'is-invalid':entrepriseForm.get('password')!.touched && !entrepriseForm.get('password')!.valid}">
            



      </div>
      <br>
      <div class="col-6">
        <label for="fname">confirm Password</label>
        <input type="password" class="form-control" name="password"  
        formControlName="password"
       [ngClass]="{'is-invalid':entrepriseForm.get('password')!.touched && !entrepriseForm.get('password')!.valid}">
            



      </div>
      </div>

      <br>
      <div>
        <button class="btn btn-theme btn-block" [disabled]=!entrepriseForm.valid (click)="createEntreprise()">
          <i class="fa fa-lock"></i> Sign Up</button>
      </div>

      
    </div>
    </form>


  </div>
  
  

</form>
