.btn-theme {
    color: #fff;
    background-color: #0f6d67;
    border-color: #0f6d67;
}
.btn-block {
    display: block;
    width: 100%;
}
label {
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Gill Sans';
    
}
input {
    font-size: 16px;
}

body {
    color: #797979;
    background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
}

.card-container {
    height: 400px;
    width: 490px;
    margin-left: 440px;


}

.btn{
   
    font-size: 16px;
}

.success{
    margin-top: 130px;
    margin-left: 55px;
    font-family: 'Ruda', sans-serif;
    font-size: 25px;
}

